@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.SignalR
@using CrossProjectSignalR.Core
@inject NavigationManager NavigationManager
@inject IHubContext<SharedChatHub, IChatHub> _chatHub
@implements IAsyncDisposable

@* https://docs.microsoft.com/en-us/aspnet/core/blazor/tutorials/signalr-blazor?view=aspnetcore-6.0&tabs=visual-studio&pivots=server#add-razor-component-code-for-chat-1 *@

<PageTitle>Index</PageTitle>

<label for="hubs">Choose a hub</label>
<select name="hubs" @bind="@selectedHubName">
    <option value="@AvailableHubs.Shared">@AvailableHubs.Shared.ToString()</option>
    <option value="@AvailableHubs.Separate">@AvailableHubs.Separate.ToString()</option>
</select>

<button onclick="@(() => ConnectToHub(SelectedHub))">Connect to Hub</button>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string? userInput;
    private string? messageInput;
    private string? selectedHubName = AvailableHubs.Shared.ToString();
    private AvailableHubs SelectedHub => (AvailableHubs) Enum.Parse(typeof(AvailableHubs), selectedHubName);

    private enum AvailableHubs
    {
        Shared,
        Separate
    }

    protected override async Task OnInitializedAsync()
    {
        await ConnectToHub();
    }

    private async Task ConnectToHub(AvailableHubs availableHub = AvailableHubs.Shared)
    {
        if (hubConnection?.State == HubConnectionState.Connected)
        {
            await hubConnection.StopAsync();
        }
        
        var hubEndpoint = availableHub == AvailableHubs.Shared ? "/SharedBlazorChatHub" : "/SeparateBlazorChatHub";

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(hubEndpoint))
            .Build();

        hubConnection.On<string, string>(nameof(IChatHub.ReceiveMessage), (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();

        messages.Add($"Connected to hub: {availableHub.ToString()}");
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync(nameof(SharedChatHub.SendMessage), userInput, messageInput);
        }

        //https://docs.microsoft.com/en-us/aspnet/core/signalr/hubcontext?view=aspnetcore-6.0#inject-a-strongly-typed-hubcontext
        //Can also be done as follows to invoke ReceiveMessage on all listeners, but this bypasses
        //the SharedChatHub instance method which may be used for logging, data enrichment etc.
        // if (_chatHub is not null)
        // {
        //     await _chatHub.Clients.All.ReceiveMessage(userInput, messageInput);
        // }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}